body {
  margin: 0px;
}

/* 로그인섹션 */
.login-section {
  display: flex;
  background-color: black;
  height: 2rem; 
  color: white;
  justify-content: space-between;
  align-items: center;
  padding : 0 2rem;
  font-size: 0.5rem;
}
.login-section .login-section-id {
  padding-bottom: 0.2rem;
}
.login-section .login-section-mypage {
  display: flex;
  width : 8rem;  
  text-align: center;
}
.login-section .login-section-mypage > div{
  width : 33%;
  border-right : 1.5px solid gray;
  padding-bottom: 0.2rem;
}
.login-section .login-section-mypage > div:last-child{
  border-right : none;
}

/* 메뉴섹션 */
.menu-section {
  height: 8rem;
  display: flex;
  position: sticky;
  top : 0;
  justify-content: space-between;
  align-items: center;
  padding : 0 3rem;
  z-index : 1;
  background-color: white;
}
.menu-section .menu-list {
  width : 70%;
}
.menu-section .menu-list ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  color: slategray;
}
.menu-section .menu-list li {
  list-style : none;
  display: inline;
}
.menu-section .etc {
  display: flex;
  width : 10%;
  
}
.menu-section .etc > div{
  width : 50%;
  text-align: center;
  border-right : 1.5px solid gray;
}

.menu-section .etc > div:last-child{
  border-right : none;
}

/* 탑섹션 */
.top-section {
  height: 14rem;
  margin: 0 3rem;
  position: relative;
}
.top-section::before {
  content:'';
  background-image: url(/img/back1.jpg);
  background-size: 100% 100%;
  position: absolute;
  opacity: 0.5;
  top : 0px;
  left : 0px;
  right : 0px;
  bottom : 0px;
}
.top-section .top-section-name {
  font-size: 2rem;
  padding-top: 5rem;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  font-weight: 900;
}
.top-section .top-menu-wrapper {
  position: absolute;
  bottom: 0%;
  width: 90%;
  transform: translateX(-50%);
  left: 50%;
  font-size: 1rem;
  font-weight: 900;
}
.top-section .top-menu-wrapper ul {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: space-between;
  width: 17%;
}
.top-section .top-menu-wrapper ul > li > a {
  text-decoration : none;
  color: black;
}

.content-section {
  margin : 3rem 2rem 0;
}
.intro-section .intro-top h1 {
  margin-bottom: 0;
}
.intro-section .intro-middle .intro-middle-wrapper{
  display : flex;
  margin-top: 4rem;
}
.intro-section .intro-middle-wrapper .intro-middle-text{
  padding : 0 2rem;
  color:gray;
}

/* 멤버섹션 */
.member-section .member-top h1 {
  margin-bottom: 0;
}
.member-section .member-list-wrapper {
  margin-top : 3rem;
  display : flex;
  text-align: center;
}
.member-section .member-list-wrapper .member-list {
  margin : 0 1rem;
  box-shadow: 1px 1px 4px #eee;
  border: 1px solid #eee; 
}
.member-section .member-list-wrapper .member-list p {
  color : gray;
}
.member-section .member-list-wrapper .member-list .member-photo {
  /* border: 2px solid white;
  border-radius: 5rem; */
  background : linear-gradient(160deg, darkgray 50%, white 50%)

}
.member-section .member-list-wrapper .member-list .member-photo {
  padding : 1rem;
}


.member-section .member-list-wrapper .member-list .member-info h3 {
  margin: 0;
}
.member-section .member-list-wrapper .member-list .member-info h4 {
  margin : 0.5rem 0 0;
  color : gray;
}
.member-section .member-list-wrapper .member-list .member-sns ul {
  display: flex;
  padding : 0;
  justify-content: space-evenly;
}
.member-section .member-list-wrapper .member-list .member-sns ul li {
  list-style : none;
}
.member-section .member-list-wrapper .member-list .member-sns img {
  width : 2rem;
  height : 2rem;
  border : 2px solid gray;
  border-radius: 2rem;
}

/* 푸터섹션 */
.footer-section {
   background-color: #eee;
}
.footer-section .footer {
   display: flex;
}

.footer-section .footer .information-section {
   display: flex;
}

.footer-section .company-sns img {
   width: 2rem;
    height: 2rem;
    border: 2px solid gray;
    border-radius: 2rem;
}